/* 531 CSS */

body {
	background-color: #F5F5F5;
}

tbody tr:nth-child(odd) {
	background: #adadad;
}

table, th, td {
	margin: auto;
	margin-top: 5%;
	border: 1px solid grey;
	border-collapse: collapse;
	width: 20%
}

th, td {
	height: 30px;
	padding: 10px;
}

table {
	display: inline-table;
	margin: 20px;

}

#wrapper {
    text-align: center;
    width: 100%;
    padding: 20px;
}

.weekHeading {
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
.day {
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 2;
	margin-bottom: -15px;
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
	text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}