/* 531 CSS */

body {
	background-color: #F5F5F5;
}

tbody tr:nth-child(odd) {
	background: #adadad;
}

table, th, td {
	margin: auto;
	margin-top: 5%;
	border: 1px solid grey;
	border-collapse: collapse;
	width: 20%
}

th, td {
	height: 30px;
	padding: 10px;
}