@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Patua+One|Open+Sans);
.recipeImg {
	border-radius: 10%;
	height: 20%;
}
.recipeTitle {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.recipe {
	border: 1px solid #eaebeb;
	margin: 2% 5% 2%;
	padding: 2%;
	width: 40%;
	background-color: white;
}
body {
	background-color: #F5F5F5;
}

li {
	margin-top: 2%;
	margin-bottom: 2%;
}
body {
  background:#353a40;
}

